.logo{
    font-size: 25px;
    color: white;
    
}

.logo:hover{
    text-decoration: none;
    color: rgb(182, 210, 233);
}

.btn-nav{
    color: white;
    margin-left: 10px;
}

.btn-nav:hover{
    color: rgb(182, 210, 233);
 
}
