{% extends 'base.html' %}
{% block title %}{{projects.name_project}}{% endblock %}
{% block content%}
<div>
    <h3 class="display-1">{{projects.name_project}}-{{project.folio}}</h3>
    <p class="h3">Cliente:<strong>{{projects.bussines}}</strong></p> 
    <div class="container">
        <div class="row">
          <div class="col-sm">
            One of three columns
          </div>
          <div class="col-sm">
            One of three columns
          </div>

        </div>
      </div>
</div>
{% endblock%}