<nav class="navbar navbar-expand-md navbar-dark bg-dark ">

  <a class=" logo" href="{% url 'index' %}">Sisa Buddy</a>
  
  {% if user.is_authenticated %}
    <a href="{% url 'customers' %}" class=" mr-2 btn btn-outline-primary text-white btn-nav ">Clientes</a>    
    <a href="{% url 'projects' %}" class="mr-2 btn btn-outline-primary text-white btn-nav ">Proyectos</a>   
    <a href="{% url 'logout' %}" class=" text-decoration-none btn-nav mr-2 text-white">Salir</a>
      
  {% else %}
      <a href="{% url 'login' %}" class="mr-2 btn btn-outline-primary text-white btn-nav">Login</a>
      <a class="text-decoration-none btn-nav" href="{% url 'register' %}" >Registro</a>
  {% endif %}
  
</nav>